{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://www.googleapis.com/dns/v1/projects"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Configures and serves authoritative DNS records.",
        "title": "Google Cloud DNS",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://www.googleapis.com/discovery/v1/apis/dns/v1/rest",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "dns"
    },
    "externalDocs": {
        "url": "https://developers.google.com/cloud-dns"
    },
    "tags": [
        {
            "name": "changes"
        },
        {
            "name": "dnsKeys"
        },
        {
            "name": "managedZoneOperations"
        },
        {
            "name": "managedZones"
        },
        {
            "name": "projects"
        },
        {
            "name": "resourceRecordSets"
        }
    ],
    "paths": {
        "/{project}": {
            "get": {
                "description": "",
                "operationId": "dns.projects.get",
                "parameters": [
                    {
                        "in": "query",
                        "name": "clientOperationId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "dns#project",
                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#project\".",
                                            "type": "string"
                                        },
                                        "number": {
                                            "format": "uint64",
                                            "type": "string"
                                        },
                                        "quota": {
                                            "properties": {
                                                "dnsKeysPerManagedZone": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "kind": {
                                                    "default": "dns#quota",
                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#quota\".",
                                                    "type": "string"
                                                },
                                                "managedZones": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "managedZonesPerNetwork": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "networksPerManagedZone": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "resourceRecordsPerRrset": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "rrsetAdditionsPerChange": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "rrsetDeletionsPerChange": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "rrsetsPerManagedZone": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "totalRrdataSizePerChange": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "whitelistedKeySpecs": {
                                                    "items": {
                                                        "properties": {
                                                            "algorithm": {
                                                                "enum": [
                                                                    "ecdsap256sha256",
                                                                    "ecdsap384sha384",
                                                                    "rsasha1",
                                                                    "rsasha256",
                                                                    "rsasha512"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "keyLength": {
                                                                "format": "uint32",
                                                                "type": "integer"
                                                            },
                                                            "keyType": {
                                                                "enum": [
                                                                    "keySigning",
                                                                    "zoneSigning"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "kind": {
                                                                "default": "dns#dnsKeySpec",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readonly"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{project}/managedZones": {
            "get": {
                "description": "",
                "operationId": "dns.managedZones.list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "dnsName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "maxResults",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "header": {
                                            "properties": {
                                                "operationId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "kind": {
                                            "default": "dns#managedZonesListResponse",
                                            "description": "Type of resource.",
                                            "type": "string"
                                        },
                                        "managedZones": {
                                            "items": {
                                                "properties": {
                                                    "creationTime": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "dnsName": {
                                                        "type": "string"
                                                    },
                                                    "dnssecConfig": {
                                                        "properties": {
                                                            "defaultKeySpecs": {
                                                                "items": {
                                                                    "properties": {
                                                                        "algorithm": {
                                                                            "enum": [
                                                                                "ecdsap256sha256",
                                                                                "ecdsap384sha384",
                                                                                "rsasha1",
                                                                                "rsasha256",
                                                                                "rsasha512"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "keyLength": {
                                                                            "format": "uint32",
                                                                            "type": "integer"
                                                                        },
                                                                        "keyType": {
                                                                            "enum": [
                                                                                "keySigning",
                                                                                "zoneSigning"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "kind": {
                                                                            "default": "dns#dnsKeySpec",
                                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "kind": {
                                                                "default": "dns#managedZoneDnsSecConfig",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                                "type": "string"
                                                            },
                                                            "nonExistence": {
                                                                "enum": [
                                                                    "nsec",
                                                                    "nsec3"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "enum": [
                                                                    "off",
                                                                    "on",
                                                                    "transfer"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "format": "uint64",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "default": "dns#managedZone",
                                                        "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                                        "type": "string"
                                                    },
                                                    "labels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "nameServerSet": {
                                                        "type": "string"
                                                    },
                                                    "nameServers": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "privateVisibilityConfig": {
                                                        "properties": {
                                                            "kind": {
                                                                "default": "dns#managedZonePrivateVisibilityConfig",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                                "type": "string"
                                                            },
                                                            "networks": {
                                                                "items": {
                                                                    "properties": {
                                                                        "kind": {
                                                                            "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                                            "type": "string"
                                                                        },
                                                                        "networkUrl": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "visibility": {
                                                        "enum": [
                                                            "private",
                                                            "public"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readonly"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "managedZones"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "",
                "operationId": "dns.managedZones.create",
                "parameters": [
                    {
                        "in": "query",
                        "name": "clientOperationId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "creationTime": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "dnsName": {
                                            "type": "string"
                                        },
                                        "dnssecConfig": {
                                            "properties": {
                                                "defaultKeySpecs": {
                                                    "items": {
                                                        "properties": {
                                                            "algorithm": {
                                                                "enum": [
                                                                    "ecdsap256sha256",
                                                                    "ecdsap384sha384",
                                                                    "rsasha1",
                                                                    "rsasha256",
                                                                    "rsasha512"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "keyLength": {
                                                                "format": "uint32",
                                                                "type": "integer"
                                                            },
                                                            "keyType": {
                                                                "enum": [
                                                                    "keySigning",
                                                                    "zoneSigning"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "kind": {
                                                                "default": "dns#dnsKeySpec",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "kind": {
                                                    "default": "dns#managedZoneDnsSecConfig",
                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                    "type": "string"
                                                },
                                                "nonExistence": {
                                                    "enum": [
                                                        "nsec",
                                                        "nsec3"
                                                    ],
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "enum": [
                                                        "off",
                                                        "on",
                                                        "transfer"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "format": "uint64",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "dns#managedZone",
                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                            "type": "string"
                                        },
                                        "labels": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "nameServerSet": {
                                            "type": "string"
                                        },
                                        "nameServers": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "privateVisibilityConfig": {
                                            "properties": {
                                                "kind": {
                                                    "default": "dns#managedZonePrivateVisibilityConfig",
                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                    "type": "string"
                                                },
                                                "networks": {
                                                    "items": {
                                                        "properties": {
                                                            "kind": {
                                                                "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                                "type": "string"
                                                            },
                                                            "networkUrl": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "visibility": {
                                            "enum": [
                                                "private",
                                                "public"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "managedZones"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "creationTime": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "dnsName": {
                                        "type": "string"
                                    },
                                    "dnssecConfig": {
                                        "properties": {
                                            "defaultKeySpecs": {
                                                "items": {
                                                    "properties": {
                                                        "algorithm": {
                                                            "enum": [
                                                                "ecdsap256sha256",
                                                                "ecdsap384sha384",
                                                                "rsasha1",
                                                                "rsasha256",
                                                                "rsasha512"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "keyLength": {
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        },
                                                        "keyType": {
                                                            "enum": [
                                                                "keySigning",
                                                                "zoneSigning"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "kind": {
                                                            "default": "dns#dnsKeySpec",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "kind": {
                                                "default": "dns#managedZoneDnsSecConfig",
                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                "type": "string"
                                            },
                                            "nonExistence": {
                                                "enum": [
                                                    "nsec",
                                                    "nsec3"
                                                ],
                                                "type": "string"
                                            },
                                            "state": {
                                                "enum": [
                                                    "off",
                                                    "on",
                                                    "transfer"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "id": {
                                        "format": "uint64",
                                        "type": "string"
                                    },
                                    "kind": {
                                        "default": "dns#managedZone",
                                        "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                        "type": "string"
                                    },
                                    "labels": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "type": "object"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "nameServerSet": {
                                        "type": "string"
                                    },
                                    "nameServers": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "privateVisibilityConfig": {
                                        "properties": {
                                            "kind": {
                                                "default": "dns#managedZonePrivateVisibilityConfig",
                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                "type": "string"
                                            },
                                            "networks": {
                                                "items": {
                                                    "properties": {
                                                        "kind": {
                                                            "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                            "type": "string"
                                                        },
                                                        "networkUrl": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "visibility": {
                                        "enum": [
                                            "private",
                                            "public"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/managedZones/{managedZone}": {
            "delete": {
                "description": "",
                "operationId": "dns.managedZones.delete",
                "parameters": [
                    {
                        "in": "query",
                        "name": "clientOperationId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "managedZone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "managedZones"
                ]
            },
            "get": {
                "description": "",
                "operationId": "dns.managedZones.get",
                "parameters": [
                    {
                        "in": "query",
                        "name": "clientOperationId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "managedZone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "creationTime": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "dnsName": {
                                            "type": "string"
                                        },
                                        "dnssecConfig": {
                                            "properties": {
                                                "defaultKeySpecs": {
                                                    "items": {
                                                        "properties": {
                                                            "algorithm": {
                                                                "enum": [
                                                                    "ecdsap256sha256",
                                                                    "ecdsap384sha384",
                                                                    "rsasha1",
                                                                    "rsasha256",
                                                                    "rsasha512"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "keyLength": {
                                                                "format": "uint32",
                                                                "type": "integer"
                                                            },
                                                            "keyType": {
                                                                "enum": [
                                                                    "keySigning",
                                                                    "zoneSigning"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "kind": {
                                                                "default": "dns#dnsKeySpec",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "kind": {
                                                    "default": "dns#managedZoneDnsSecConfig",
                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                    "type": "string"
                                                },
                                                "nonExistence": {
                                                    "enum": [
                                                        "nsec",
                                                        "nsec3"
                                                    ],
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "enum": [
                                                        "off",
                                                        "on",
                                                        "transfer"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "format": "uint64",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "dns#managedZone",
                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                            "type": "string"
                                        },
                                        "labels": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "nameServerSet": {
                                            "type": "string"
                                        },
                                        "nameServers": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "privateVisibilityConfig": {
                                            "properties": {
                                                "kind": {
                                                    "default": "dns#managedZonePrivateVisibilityConfig",
                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                    "type": "string"
                                                },
                                                "networks": {
                                                    "items": {
                                                        "properties": {
                                                            "kind": {
                                                                "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                                "type": "string"
                                                            },
                                                            "networkUrl": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "visibility": {
                                            "enum": [
                                                "private",
                                                "public"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readonly"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "managedZones"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "",
                "operationId": "dns.managedZones.patch",
                "parameters": [
                    {
                        "in": "query",
                        "name": "clientOperationId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "managedZone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "dnsKeyContext": {
                                            "properties": {
                                                "newValue": {
                                                    "properties": {
                                                        "algorithm": {
                                                            "enum": [
                                                                "ecdsap256sha256",
                                                                "ecdsap384sha384",
                                                                "rsasha1",
                                                                "rsasha256",
                                                                "rsasha512"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "creationTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "digests": {
                                                            "items": {
                                                                "properties": {
                                                                    "digest": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "enum": [
                                                                            "sha1",
                                                                            "sha256",
                                                                            "sha384"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isActive": {
                                                            "type": "boolean"
                                                        },
                                                        "keyLength": {
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        },
                                                        "keyTag": {
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "kind": {
                                                            "default": "dns#dnsKey",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKey\".",
                                                            "type": "string"
                                                        },
                                                        "publicKey": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "keySigning",
                                                                "zoneSigning"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "oldValue": {
                                                    "properties": {
                                                        "algorithm": {
                                                            "enum": [
                                                                "ecdsap256sha256",
                                                                "ecdsap384sha384",
                                                                "rsasha1",
                                                                "rsasha256",
                                                                "rsasha512"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "creationTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "digests": {
                                                            "items": {
                                                                "properties": {
                                                                    "digest": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "enum": [
                                                                            "sha1",
                                                                            "sha256",
                                                                            "sha384"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isActive": {
                                                            "type": "boolean"
                                                        },
                                                        "keyLength": {
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        },
                                                        "keyTag": {
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "kind": {
                                                            "default": "dns#dnsKey",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKey\".",
                                                            "type": "string"
                                                        },
                                                        "publicKey": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "keySigning",
                                                                "zoneSigning"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "dns#operation",
                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#operation\".",
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "enum": [
                                                "done",
                                                "pending"
                                            ],
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "string"
                                        },
                                        "zoneContext": {
                                            "properties": {
                                                "newValue": {
                                                    "properties": {
                                                        "creationTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "dnsName": {
                                                            "type": "string"
                                                        },
                                                        "dnssecConfig": {
                                                            "properties": {
                                                                "defaultKeySpecs": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "algorithm": {
                                                                                "enum": [
                                                                                    "ecdsap256sha256",
                                                                                    "ecdsap384sha384",
                                                                                    "rsasha1",
                                                                                    "rsasha256",
                                                                                    "rsasha512"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "keyLength": {
                                                                                "format": "uint32",
                                                                                "type": "integer"
                                                                            },
                                                                            "keyType": {
                                                                                "enum": [
                                                                                    "keySigning",
                                                                                    "zoneSigning"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "default": "dns#dnsKeySpec",
                                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "kind": {
                                                                    "default": "dns#managedZoneDnsSecConfig",
                                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                                    "type": "string"
                                                                },
                                                                "nonExistence": {
                                                                    "enum": [
                                                                        "nsec",
                                                                        "nsec3"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "state": {
                                                                    "enum": [
                                                                        "off",
                                                                        "on",
                                                                        "transfer"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "id": {
                                                            "format": "uint64",
                                                            "type": "string"
                                                        },
                                                        "kind": {
                                                            "default": "dns#managedZone",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                                            "type": "string"
                                                        },
                                                        "labels": {
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            },
                                                            "type": "object"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "nameServerSet": {
                                                            "type": "string"
                                                        },
                                                        "nameServers": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "privateVisibilityConfig": {
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "dns#managedZonePrivateVisibilityConfig",
                                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                                    "type": "string"
                                                                },
                                                                "networks": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "kind": {
                                                                                "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                                                "type": "string"
                                                                            },
                                                                            "networkUrl": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "visibility": {
                                                            "enum": [
                                                                "private",
                                                                "public"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "oldValue": {
                                                    "properties": {
                                                        "creationTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "dnsName": {
                                                            "type": "string"
                                                        },
                                                        "dnssecConfig": {
                                                            "properties": {
                                                                "defaultKeySpecs": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "algorithm": {
                                                                                "enum": [
                                                                                    "ecdsap256sha256",
                                                                                    "ecdsap384sha384",
                                                                                    "rsasha1",
                                                                                    "rsasha256",
                                                                                    "rsasha512"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "keyLength": {
                                                                                "format": "uint32",
                                                                                "type": "integer"
                                                                            },
                                                                            "keyType": {
                                                                                "enum": [
                                                                                    "keySigning",
                                                                                    "zoneSigning"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "default": "dns#dnsKeySpec",
                                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "kind": {
                                                                    "default": "dns#managedZoneDnsSecConfig",
                                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
                                                                    "type": "string"
                                                                },
                                                                "nonExistence": {
                                                                    "enum": [
                                                                        "nsec",
                                                                        "nsec3"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "state": {
                                                                    "enum": [
                                                                        "off",
                                                                        "on",
                                                                        "transfer"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "id": {
                                                            "format": "uint64",
                                                            "type": "string"
                                                        },
                                                        "kind": {
                                                            "default": "dns#managedZone",
                                                            "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
                                                            "type": "string"
                                                        },
                                                        "labels": {
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            },
                                                            "type": "object"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "nameServerSet": {
                                                            "type": "string"
                                                        },
                                                        "nameServers": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "privateVisibilityConfig": {
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "dns#managedZonePrivateVisibilityConfig",
                                                                    "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
                                                                    "type": "string"
                                                                },
                                                                "networks": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "kind": {
                                                                                "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                                                                                "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
                                                                                "type": "string"
                                                                            },
                                                                            "networkUrl": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "visibility": {
                                                            "enum": [
                                                                "private",
                                                                "public"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                        ]
                    }
                ],
                "tags": [
                    "managedZones"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "creationTime": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "dnsName": {
                                        "type": "string"
                                    },
                                    "dnssecConfig": {
                                        "properties": {
                                            "defaultKeySpecs": {
                                                "items": {
[...]
